<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches && true"
  >
    <app-nav-menu class="sidenav-menu"></app-nav-menu>
    <div class="divider-vertical"></div>
  </mat-drawer>

  <mat-drawer-content>
    <button
      class="btn-toggle-sidenav elevation-10"
      style="left: -10px"
      type="button"
      mat-icon-button
      (click)="drawer.toggle(); drawerOpened = false"
    >
      @if(drawer.opened) {
      <mat-icon class="mat-18 animate-in-left" color="light"
        >chevron_left</mat-icon
      >
      } @else {
      <div class="bar-open-menu"></div>
      }
    </button>
    <div class="container p-h-medium center-hv">
      <mat-grid-list
        cols="3"
        rowHeight="2:2"
        gutterSize="10px"
        class="m-w-full"
      >
        <mat-grid-tile
          *ngIf="activeTile === 1 || activeTile === null"
          #tile1
          class="tile-item"
          (click)="openPanel(1, tile1)"
        >
          <div class="flex w-full h-full">
            <mat-card
              class="m-w-full card-parent h-full"
              [ngClass]="{ onOpenCard: activeTile === 1 }"
            >
              <mat-card-header class="flex">
                <div class="flex m-w-full card-title">
                  <div class="flex p-small">
                    <mat-card-title>Perfil</mat-card-title>
                    <mat-card-subtitle
                      style="margin-top: 20px; font-size: 1.1rem"
                      >Historial laboral y metricas del
                      perfil</mat-card-subtitle
                    >
                  </div>
                  @if(activeTile === 1){
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="closePanel(1, tile1, $event)"
                  >
                    <mat-icon class="mat-18">close</mat-icon>
                  </button>
                  }
                </div>
              </mat-card-header>
              <div class="content w-full h-full">
                <app-time-line-card
                  [dataWorks]="works"
                  [tileActive]="activeTile"
                  [drawer]="drawer.opened"
                  [drawerIntoGrid]="drawerIntoGrid.opened"
                  (drawerStatus)="drawerToggle($event)"
                >
                </app-time-line-card>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="activeTile === 2 || activeTile === null"
          #tile2
          class="tile-item"
          (click)="openPanel(2, tile2)"
        >
          <div class="flex w-full h-full">
            <mat-card
              class="m-w-full card-parent h-full"
              [ngClass]="{ onOpenCard: activeTile === 2 }"
            >
              <mat-card-header class="flex">
                <div class="flex m-w-full card-title">
                  <div class="flex p-small pattern-chips-skill">
                    <mat-card-title>Top Skills</mat-card-title>
                    <mat-card-subtitle
                      style="margin-top: 20px; font-size: 1.1rem"
                    >
                      <mat-chip-set
                        appCheckHorizontalScroll
                        aria-label="Fish selection"
                        style="
                          display: flex;
                          flex-flow: row;
                          white-space: nowrap;
                        "
                      >
                        @for (topSkill of this.topSkills; track $index) {
                        <mat-chip :key="$index">{{ topSkill.title }}</mat-chip>
                        }
                      </mat-chip-set>
                    </mat-card-subtitle>
                  </div>
                  @if(activeTile === 2){
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="closePanel(2, tile2, $event)"
                  >
                    <mat-icon class="mat-18">close</mat-icon>
                  </button>
                  }
                </div>
              </mat-card-header>
              <div class="content w-full h-full">
                @for (itemSkill of htmlSanitizado; track $index) {
                <div
                  class="flex flex-wrap w-full h-full content-skill"
                  [ngClass]="{ 'no-open-content': activeTile !== 2 }"
                >
                  @if(activeTile === 2){
                  <section>
                    <h3>{{ itemSkill.title }}</h3>
                    <p [innerHTML]="itemSkill.description">
                    </p>
                    <h4><b>Empresas y/o proyectos involucrados</b></h4>
                    <b> {{itemSkill.companies}} </b>
                  </section>
                  }
                  <div class="image-skill">
                    <img
                      [src]="'assets/images/' + itemSkill.image "
                      class="w-full"
                      alt="js"
                    />
                  </div>
                </div>
                }
                 
                <!--<swiper-container 
                  #swiper
                  [config]="swiperConfig"
                  thumbs-swiper=".mySwiper2"
                  (slidechange)="slideChange($event)"
                >
                  @for (item of contents; track $index) {
                  <swiper-slide>
                    <div
                      class="ratio ratio-4x3"
                       
                    >
                    <img [src]="item.url" [alt]="item.skill">
                  </div>
                  </swiper-slide>
                  }
                </swiper-container>-->
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="activeTile === 3 || activeTile === null"
          #tile3
          class="tile-item"
          (click)="openPanel(3, tile3)"
          rowspan="2"
        >
          <div
            style="
              width: 100%;
              height: 100%;
              background-color: red;
              display: flex;
            "
          >
            <div
              style="
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <h4>title 3</h4>
              <button
                mat-icon-button
                color="primary"
                (click)="closePanel(3, tile3, $event)"
              >
                <mat-icon class="mat-18">close</mat-icon>
              </button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          *ngIf="activeTile === 4 || activeTile === null"
          #tile4
          class="tile-item"
          (click)="openPanel(4, tile4)"
          colspan="2"
        >
          <div
            style="
              width: 100%;
              height: 100%;
              background-color: red;
              display: flex;
            "
          >
            <div
              style="
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <h4>title 4</h4>
              <button
                mat-icon-button
                color="primary"
                (click)="closePanel(4, tile4, $event)"
              >
                <mat-icon class="mat-18">close</mat-icon>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-drawer-content>
  <mat-drawer
    #drawerIntoGrid
    class="sidenav-profile"
    mode="side"
    position="end"
    [(opened)]="drawerOpened"
  >
    <app-description-profile-nav
      [detailWork]="workDetail"
      (panelClosed)="savePanelState()"
    ></app-description-profile-nav>
  </mat-drawer>
</mat-drawer-container>
