h3,h4{
    margin: 0 0 0 0;
}

.content-avatar{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .avatar{
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: border-radius .2s ease-in-out .2s, width ease-in .3s, height ease-in .3s;
        img.logo{
            object-fit: fill;
            max-width: 100%;
            position: relative;
            z-index: 10;
            background-color: rgba($color: #000000, $alpha: 0);
            transform: scale(.9);
            transition: transform ease-in-out .2s;
        }
        .content-qr{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            img{
                object-fit: fill;
                max-width: 100%;
                position: relative;
                transform: scale(2);
                opacity: 0;
                transition: opacity .2s ease, transform .2s ease-in .1s;
            }
        }
        &:hover{
            width: 8.5rem;
            height: 8.5rem;
            border-radius: .5rem;
            background-color: #fff;
            img.logo{
                transform: scale(.22);
                background-color: rgba($color: #000000, $alpha: 1); 
            }
            .content-qr{ 
                img{ 
                    transform: scale(1); 
                    opacity: 1; 
                }
            }
        }
    }
}

.list-menu{
    text-align: center;
}