<div>
  <div class="content-avatar">
    <div>
      <h3 style="margin: 0 0 -20px; padding: 0 0">Senior Frontend</h3>
      <h1 style="margin: 0 0; padding: 0 0; font-size: 4.2rem;">DEV</h1>
    </div>
    <div class="avatar">
      <img
        src="assets/images/armando_rubio.png"
        alt="Armando Rubio - Software Developer"
      />
    </div>
    <h4>Armando Rubio</h4>
    <div class="flex-row">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>mail</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>smartphone</mat-icon>
      </button>
    </div>
  </div>
  <mat-list class="list-menu" role="list">
    <mat-list-item role="listitem">Board</mat-list-item>
    <mat-list-item role="listitem">Mi Perfíl</mat-list-item>
    <mat-list-item role="listitem">Skills</mat-list-item>
    <mat-list-item role="listitem">Portafolio</mat-list-item>
    <mat-list-item role="listitem">Contactar</mat-list-item>
  </mat-list>
</div>
